@{
    Layout = "_Layout";
}

<div class="grid-container">
    <div class="con-1">
        <button onclick="Rick()" type="button" class="h-btn c1"><img class="icon" src="img/icons/spiderman.png" alt="Italian Trulli"></button>
        <button onclick="Choomah()" type="button" class="h-btn c2"><img class="icon" src="img/icons/lama.png" alt="Italian Trulli"></button>
        <button onclick="Sassy()" type="button" class="h-btn c3"><img class="icon" src="img/icons/bear.png" alt="Italian Trulli"></button>
        <button onclick="Cricket()" type="button" class="h-btn c4"><img class="icon" src="img/icons/cricket.png" alt="Italian Trulli"></button>
        <button onclick="Donny()" type="button" class="h-btn c5"><img class="icon" src="img/icons/trump.png" alt="Italian Trulli"></button>
        <button onclick="Clarence()" type="button" class="h-btn c6"><img class="icon" src="img/icons/lemon.png" alt="Italian Trulli"></button>

    </div>

    <div class="con-2">
        <iframe width="100%" height="315"
                src="https://www.youtube.com/embed/sV0NAL3nO5E">
        </iframe>
    </div>


    <div class="con-3">
        <img class="fortnite-img" src="img/fortnite2.jpg" alt="Italian Trulli">
    </div>

    <div class="con-4">
        <h1>Why Join Our Fortnite Club?</h1>
        <p class="paragraph">
            If you love playing Fortnite, you might be interested in joining our Fortnite club. 
            Our club is a community of passionate and friendly gamers who enjoy sharing tips, strategies,
            and experiences with each other. We also organize regular events, tournaments, and challenges to spice up
            the game and have fun. Whether you are a beginner or a pro, you will find a place in our club where you can learn,
            improve, and compete with other players. Joining our club is easy and free, and you will get access to exclusive benefits
            such as newsletters, discounts, and prizes. Don’t miss this opportunity to be part of an awesome Fortnite club!
        </p>
    </div>

</div>