* {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 200px;
    padding-right: 200px;
    background-image: url('../img/Fortnite.jpg');
    background-repeat: no-repeat;
}

.nav-bar {
    background-color: #272729;
    padding: 25px;
    border: 1px solid black;
}

.title {
    margin-right: 15px;
}


.nav-bar ul {
    list-style-type: none;
    overflow: hidden;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
font-family: 'Burbank Big Condensed';
}

.nav-bar li a:hover {
    color: #b8b8b8;
}

.nav-right {
    float: right;
}

.title {
    font-weight:bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}

.grid-container > div {
    padding: 20px;
    background-color: #fff;
}


.con-1 {
    font-size: 16px;
}

.h-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
   
}

.purple {
    background-color: #0530e6;
}

.green {
    background-color: #62ff00;
}


.image {
    width: 100%;
}

footer {
    background-color: red;
    padding: 15px;
}

.header {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-btn {
    color: #fff;
    background-color: #e70000;
    padding: 10px 120px;
    border-radius: 5px;
    border: 1px solid #434343;
    margin-right: 50px;
}




.header-title {
    color: #fff;
    margin-left: 15px;
}